<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iscool.michael.represent">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".All_Representative_View"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_all__representative__view"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".Rep_Detail"
            android:label="@string/title_activity_rep__detail"
            android:parentActivityName=".All_Representative_View">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iscool.michael.represent.All_Representative_View" />
        </activity>
    </application>

</manifest>